<div class="container">
    <div class="text-bg-secondary mt-4 mb-5 p-4">
        <h1>About</h1>
        <p>SportsPro Technical Support constantly strives to provide
            the highest level of technical support for all products
            in the SportsPro family.</p>
    </div>
</div>
